@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Toto:wght@400;700&display=swap");

:root {
  --yellow: #ffff00;
  --yellow-50: rgb(255, 255, 0.5);
  --blue-dark: #3f528c;
  --white: #fff;
  --grey-lightest: #ececec;
  --grey-lighter: #d3d3d3;
  --grey-light: #bcbcbc;
  --grey: #6b6b6b;
  --grey-50: rgb(107, 107, 107, 0.5);
  --grey-dark: #242629;
  --grey-darkest: #1c1d1f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif Toto", serif;
  background: var(--bg);
  color: var(--text);
}

body {
  --bg: var(--white);
  --img-filter: unset;
  --theme-toggle-content: "🌚";
  --blockquote-border: var(--grey-lighter);
  --blockquote-color: var(--grey);
  --highlight-bg: var(--yellow);
  --highlight-text: var(--grey-dark);
  --text: var(--grey-dark);
  --hover-text: var(--grey-dark);
  --hover-bg: linear-gradient(to right, var(--white) 50%, var(--yellow) 50%);
}

body.dark {
  --bg: var(--grey-dark);
  --img-filter: grayscale(30%);
  --theme-toggle-content: "🌞";
  --blockquote-border: var(--grey-light);
  --blockquote-color: var(--grey-light);
  --highlight-bg: var(--yellow-50);
  --highlight-text: var(--grey-dark);
  --text: var(--white);
  --hover-text: var(--grey-dark);
  --hover-bg: linear-gradient(
    to right,
    var(--grey-dark) 50%,
    var(--yellow-50) 50%
  );
}

p {
  line-height: 1.5em;
}

a {
  background-image: var(--hover-bg);
  background-position: -0% 0;
  color: inherit;
  background-size: 200% auto;
  line-height: 1.15em;
  text-decoration: underline;
  transition: background-position 0.1s ease-out;
}

blockquote {
  border-left: solid 5px var(--blockquote-border);
  color: var(--blockquote-color);
  padding: 0 1rem;
}

img {
  filter: var(--img-filter);
  width: 100%;
  height: auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem 1.5rem;
  margin-top: 36px;
}

section > ul > li {
  margin: 0.75em 0;
}

section > ol > li {
  margin: 0.75em 0;
}

section > p {
  margin: 2em 0;
}

nav {
  z-index: 999;
  width: 100%;
  text-align: left;
  padding: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--bg);
  opacity: 95%;
  backdrop-filter: blur(50px);
}

hr {
  border-color: inherit;
  border-style: dashed;
  width: 100%;
  margin-top: 3rem;
}

* {
  box-sizing: border-box;
}

.highlight,
*::selection {
  background: var(--highlight-bg);
  color: var(--highlight-text);
}

/* Heading styles to allow correct heading hierarchy 
** without compromising on styles */
h1,
.h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-size: 2em;
  font-weight: bold;
  line-height: calc(36 / 32);
  margin-bottom: 1.75em;
}
h2,
.h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-size: 1.5em;
  font-weight: bold;
}
h3,
.h3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 1.17em;
  font-weight: bold;
}
h4,
.h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  font-size: 1em;
  font-weight: bold;
}
h5,
.h5 {
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  font-size: 0.83em;
  font-weight: bold;
}
h6,
.h6 {
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  font-size: 0.67em;
  font-weight: 300;
  font-style: italic;
}

.nav-list {
  width: max-content;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style-type: none;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
}

.nav-list > li {
  padding-left: 1.5rem;
  height: max-content;
}

.nav-list > li:first-of-type {
  padding-left: 0;
}

.nav-list > li:first-of-type::before {
  content: "\200B";
  padding-right: 0;
}

.nav-list > li::before {
  content: "/";
  padding-right: 1rem;
}

.theme-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  vertical-align: text-top;
  padding: 1.5rem;

  background: transparent;
  font-style: normal;

  border: none;
  font-size: 1rem;
}

.theme-toggle::before {
  content: var(--theme-toggle-content);
}

.theme-toggle:hover {
  cursor: pointer;
}

.post-list-item {
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dedede;
}

.post-title {
  margin-bottom: 0.5em;
}

.post-date {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.post-note > :last-child {
  text-align: center;
}

.share-button {
  background-image: unset;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.2em 0.5em;
  margin: 0.5em 0;
  color: var(--white);
  border-radius: 0.2em;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.share-button:hover {
  color: #fff;
  background-color: #4f4f4f;
}

.share-button:active {
  top: 1px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

.share-button svg {
  fill: #ffffff;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.share-button.twitter {
  background-color: #1b95e0;
}
.share-button.twitter:hover {
  background-color: #269ce5;
}

.share-button.linkedin {
  background-color: #0077b5;
}
.share-button.linkedin:hover {
  background-color: #1e84b9;
}

@media screen and (min-width: 480px) {
  main {
    padding: 3rem 1.5rem;
  }

  a:hover {
    color: var(--hover-text);
    background-position: -99.99% 0;
  }

  .nav-list {
    width: max-content;
    margin: 0;
  }

  .theme-toggle {
    font-size: 1.75rem;
  }

  .post-note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .post-note > :first-child {
    width: 70%;
  }

  .post-note > :last-child {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  main {
    width: 70%;
    margin: auto;
    padding: 2.5rem 0;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 50%;
  }

  nav {
    background: transparent;
    backdrop-filter: unset;
  }

  .nav-list {
    flex-direction: column;
    gap: 12px;
  }

  .nav-list > li {
    padding-left: 0;
  }

  .nav-list > li::before {
    content: none;
  }
}
