---
layout: base.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<h1>Blog</h1>

{% for post in collections.posts | reverse %}
  <div class="post-list-item">
    <h2 class="post-title">{{ post.data.title }}</h2>
    <h5 class="post-date">{{ post.date | readableDate}}</h5>
    <p>{{ post.templateContent | excerpt }}</p>
    <a href="{{ post.url | url }}">Keep reading &gt;</a>
  </div>
{% endfor %}
