---
layout: base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Hi, I'm Safira.</h1>
<p>
  Dev at ThoughtWorks, but views expressed here are my own.<br />
  She/her/dia. 🇲🇨<br />
  Based in Melbourne. 🇦🇺
</p>
<p>
  I'm still figuring out the content of this site, but it will probably
  be a concoction of some stream-of-consciousness blog posts and any
  experiments I do outside of work.
</p>
<p>
  If you're up for chats about web dev, JavaScript, accessibility, arts or chicken nuggets, find me on
  <a href="https://www.twitter.com/hisafira/">Twitter</a>, <a href="https://www.linkedin.com/in/safiranugroho/">LinkedIn</a>, and
  <a href="https://github.com/safiranugroho">GitHub</a>, or
  <a href="mailto:safiranugroho@gmail.com?subject=Hi from your blog!">shoot me an email</a>!
</p>
<p>👋</p>