<!doctype html>
<html lang="en">
  <head>
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y4Q4F7X2H2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y4Q4F7X2H2');
    </script>

    <title>{{ title or metadata.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ title or metadata.title }}">
    <meta name="description" content="{{ description or metadata.description }}">

    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="{{ metadata.url + image or metadata.image}}">
    <meta propety="og:type" content="{{ type or metadata.type }}">

    <meta name="twitter:title" content="{{ title or metadata.title }}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ metadata.url + image or metadata.image }}">
    <meta name="twitter:site" content="{{ metadata.twitter }}">
    <meta name="twitter:creator" content="{{ metadata.twitter }}">

    <link rel="icon" href="{{ '/img/favicon.ico' | url }}" />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <script src="{{ '/js/setTheme.js' | url }}"></script>
    <script src="{{ '/js/onThemeChange.js' | url }}"></script>
    <script src="{{ '/js/onDocumentLoaded.js' | url }}"></script>
    <script src="{{ '/js/highlightPath.js' | url }}"></script>

    <nav>
      <ul class="nav-list">
      {%- for entry in collections.all | eleventyNavigation %}
        <li><a href="{{ entry.url | url }}" class="nav-link" id={{ entry.title.toLowerCase() }}>{{ entry.title }}</a></li>
      {%- endfor %}
        <li><a href="https://doodles.safira.me">Doodles</a></li>
      </ul>
    </nav>

    <button
      title="Color theme toggle"
      class="theme-toggle"
      onclick="onThemeChange()"></button>

    <main>
      {{ content | safe }}
    </main>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>