---
layout: base.njk
---
<article>
  <h1 id="article-title">{{ title }}</h1>
  <h2 class="h5">{{ date | readableDate }}</h2>

  <section aria-labelledby="article-title">
    {{ content | safe }}
  </section>
</article>