@import './fonts.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.min.css');

:root {
  --primary-text-color: #242629;
  --secondary-text-color: #525252;

  --primary-background-color: color-mix(in srgb, currentColor 1%, transparent);

  --primary-border-color: color-mix(in srgb, currentColor 10%, transparent);
  --secondary-border-color: color-mix(in srgb, currentColor 20%, transparent);

  --border-radius: 8px;

  --app-font-family: 'Noto Serif Toto', serif;
  --content-font-family: 'Lato', sans-serif;
  --code-font-family: 'Fira Mono', monospace;

  --interactive-opacity: 0.8;
}

html {
  height: 100%;
}

body {
  font-family: var(--app-font-family);

  min-height: 100%;
  margin: 0;

  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
strong,
em,
input {
  color: currentColor;
}

a,
a:visited,
a:focus,
a:active {
  color: currentColor;
}

a:hover,
a:focus-visible {
  outline: none;
  color: currentColor;
  opacity: var(--interactive-opacity);
  text-decoration: underline;
}

button,
button:visited,
button:focus,
button:active {
  font-family: inherit;
  font-size: 16px;
  background-color: var(--primary-background-color);

  border: 1px solid var(--primary-border-color);
  border-radius: var(--border-radius);

  padding: 8px 16px;

  font-weight: 700;
  text-align: center;
  color: currentColor;

  cursor: pointer;
}

button:hover,
button:focus-visible {
  color: currentColor;
  border-color: var(--secondary-border-color);
  text-decoration: underline;
}

button.inline-button {
  border: none;
  padding: 0;
  text-decoration: underline;
  text-align: inherit;
  display: inline;
}

code,
code > .token.selector {
  color: #1d3557;
}

code > .token.property {
  color: #e63946;
}

code > .token.function {
  color: #457b9d;
}

select {
  all: unset;

  appearance: none;

  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  outline: none;

  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

p {
  line-height: 1.25em;
}
