@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lato:wght@300;400;700;900&family=Noto+Serif+Toto:wght@400;700&display=swap');

:root {
  --primary-text-color: #242629;
  --secondary-text-color: #525252;

  --primary-border-color: #dedede;
  --secondary-border-color: #a5a5a5;

  --border-radius: 8px;

  --app-font-family: 'Noto Serif Toto', serif;
  --content-font-family: 'Lato', sans-serif;
  --code-font-family: 'Fira Mono', monospace;
}

html {
  height: 100%;
}

body {
  font-family: var(--app-font-family);

  min-height: 100%;
  margin: 0;

  color: var(--primary-text-color);
}

a,
a:visited,
a:focus,
a:active {
  color: var(--primary-text-color);
}

a:hover,
a:focus-visible {
  outline: none;
  color: var(--secondary-text-color);
  text-decoration: underline;
}

button,
button:visited,
button:focus,
button:active {
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;

  border: 1px solid var(--primary-border-color);
  border-radius: var(--border-radius);

  padding: 8px 16px;

  font-weight: 700;
  text-align: center;
  color: var(--primary-text-color);

  cursor: pointer;
}

button:hover,
button:focus-visible {
  background-color: transparent;

  color: var(--secondary-text-color);
  border-color: var(--secondary-border-color);
  text-decoration: underline;
}
