@import './fonts.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.min.css');

:root {
  --primary-text-color: #242629;
  --secondary-text-color: #525252;

  --background-color-50: color-mix(in srgb, white 5%, transparent);
  --background-color-100: color-mix(in srgb, black 5%, transparent);

  --border-color: color-mix(in srgb, currentColor 10%, transparent);
  --border-color-100: color-mix(in srgb, currentColor 20%, transparent);
  --border-color-200: color-mix(in srgb, currentColor 30%, transparent);
  --border-color-300: color-mix(in srgb, currentColor 40%, transparent);
  --border-color-400: color-mix(in srgb, currentColor 50%, transparent);

  --text-color-90: color-mix(in srgb, currentColor 90%, transparent);
  --text-color: currentColor;

  --border-radius: 8px;

  --app-font-family: 'Noto Serif Toto', serif;
  --content-font-family: 'Lato', sans-serif;
  --code-font-family: 'Fira Mono', monospace;

  --interactive-opacity: 0.8;
}

html {
  height: 100%;
}

body {
  font-family: var(--app-font-family);

  min-height: 100%;
  margin: 0;

  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
strong,
em,
input,
select,
label {
  color: currentColor;
}

a,
a:visited,
a:focus,
a:active {
  color: currentColor;
}

a:hover,
a:focus-visible {
  outline: none;
  color: var(--text-color);
  text-decoration: underline;
}

button,
button:visited,
button:focus,
button:active {
  font-family: inherit;
  font-size: 16px;
  background-color: var(--background-color-50);

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  padding: 8px 16px;

  font-weight: 700;
  text-align: center;
  color: currentColor;

  cursor: pointer;
}

button:hover,
button:focus-visible {
  color: var(--text-color);
  border-color: var(--border-color-400);
  text-decoration: underline;
}

button.inline-button {
  border: none;
  padding: 0;
  text-decoration: underline;
  text-align: inherit;
  display: inline;
}

select {
  all: unset;

  appearance: none;

  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  outline: none;

  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

p {
  line-height: 1.25em;
}
